html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  padding: .4em .75em .5em;
  color: #333;
  text-decoration: none;
  border-style: solid;
  border-color: #333;
  border-radius: .5em;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}

.btn {
  display: inline-block;
}

section {
  padding: 2em 0;
}

div {
  max-width: 25em;
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  text-align: left;
}
